<!--
Copyright 2012, Marcus McKinnon, E.J. Wilburn, Kevin Williams
This program is distributed under the terms of the GNU General Public License.

This file is part of Palaver.

Palaver is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

Palaver is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Palaver.  If not, see <http://www.gnu.org/licenses/>.
-->

@{
    ViewBag.Title = "Palaver2";
}

@using Palaver2.Models;
@using System.Text.RegularExpressions;

<!-- Load SyntaxHighlighter -->
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/SyntaxHighlighter/shCore.js")" type="text/javascript"></script>
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/SyntaxHighlighter/shBrushCpp.js")" type="text/javascript"></script>
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/SyntaxHighlighter/shBrushCSharp.js")" type="text/javascript"></script>
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/SyntaxHighlighter/shBrushCss.js")" type="text/javascript"></script>
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/SyntaxHighlighter/shBrushJava.js")" type="text/javascript"></script>
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/SyntaxHighlighter/shBrushJScript.js")" type="text/javascript"></script>
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/SyntaxHighlighter/shBrushPhp.js")" type="text/javascript"></script>
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/SyntaxHighlighter/shBrushRuby.js")" type="text/javascript"></script>
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/SyntaxHighlighter/shBrushSql.js")" type="text/javascript"></script>
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/SyntaxHighlighter/shBrushVb.js")" type="text/javascript"></script>
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/SyntaxHighlighter/shBrushXml.js")" type="text/javascript"></script>
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/SyntaxHighlighter/shBrushDelphi.js")" type="text/javascript"></script>
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/SyntaxHighlighter/shBrushPython.js")" type="text/javascript"></script>
<link href="@CustomHtmlHelpers.ResolvePath("Content/SyntaxHighlighter/shCore.css")" rel="stylesheet" type="text/css" />
<link href="@CustomHtmlHelpers.ResolvePath("Content/SyntaxHighlighter/shThemeDefault.css")" rel="stylesheet" type="text/css" />
<!-- Load CKEditor -->
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/ckeditor/adapters/jquery.js")" type="text/javascript"></script>
<!-- wowhead script -->
<script type="text/javascript" src="https://static.wowhead.com/widgets/power.js"></script>
<!-- Lod our page specific script. -->
<script src="@CustomHtmlHelpers.ResolvePath("Scripts/Index.js")" type="text/javascript"></script>

<div style="display: none"><textarea id="preloadTinyMce"></textarea></div>
<script type="text/javascript">
    // Init the page, passing any thread Id passed in the query string and base URL of the app.
    $(document).ready( function(){ initPage("@CustomHtmlHelpers.ResolvePath("")", @(ViewBag.ThreadId == null ? "null" : ViewBag.ThreadId), @(ViewBag.CommentId == null ? "null" : ViewBag.CommentId)); } );
</script>

<div id="threadList" class="ui-layout-west">
    <h3 class="ui-widget-header">Threads</h3>
    <div class="ui-layout-content ui-widget-content">
        <div>
            <table width="100%" style="border-style: none">
                <tr style="border-style: none">
                    <td style="border-style: none">@Html.TextBox("newcomment")</td>
                    <td style="border-style: none" width="25px"><a href="javascript:;" onclick="AddComment()">New</a></td>
                </tr>
            </table>
        </div>
        <div id="threads" >
            @Html.Partial("_topcomments", (IEnumerable<Comment>)ViewBag.Comments)
        </div>
    </div>
</div>

<div id="commentsArea" class="ui-layout-center">
    <h3 class="ui-widget-header">Comments</h3>
    <div id="comments" class="ui-layout-content ui-widget-content">
    </div>
</div>
@Html.Hidden("userid", CodeFirstMembership.CodeFirstSecurity.CurrentUserId)

