<!--
Copyright 2012, Marcus McKinnon, E.J. Wilburn, Kevin Williams
This program is distributed under the terms of the GNU General Public License.

This file is part of Palaver.

Palaver is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

Palaver is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Palaver.  If not, see <http://www.gnu.org/licenses/>.
-->

@model Palaver2.Models.ResetPasswordModel

@{
    ViewBag.Title = "New Password";
}

<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>


<script type="text/javascript">
    // Init the page layout
    $(document).ready(function () { addGenericLayouts(); });
</script>

<div class="ui-layout-center ui-widget-content">
<h2>Enter your new password</h2>

    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(x => x.NewPassword)
            @Html.PasswordFor(x => x.NewPassword)
            @Html.ValidationMessageFor(x => x.NewPassword)
        </div>
    
        <div>
            @Html.LabelFor(x => x.ConfirmPassword)
            @Html.PasswordFor(x => x.ConfirmPassword)
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
    
        <input type="submit" value="Change Password" />
    
    }

</div>