@model Palaver2.Models.Comment

<div class="card comment" data-id="@Model.CommentId">
	<div data-id="@Model.CommentId" data-parent-id="@(!Model.ParentCommentId.HasValue ? Model.CommentId : Model.ParentCommentId)"
		data-subject-id="@Model.SubjectId" tabindex="99" @{if (Model.isUnread) { <text>class="card-header newcomment" onclick="markRead(this)"</text> }
		else { <text>class="card-header"</text> }} >
		<span class="user">@Model.User.Username</span><span class="commentTime"> [@CustomHtmlHelpers.GetDisplayTime(Model.CreatedTime.ToLocalTime())]
		</span>
	</div>
	<div class="card-block">
		@Model.Text
	</div>
	@if (Model.Comments != null && Model.Comments.Count > 0 )
	{
		foreach (var comment in @Model.Comments)
		{
			@Html.Partial("_comment", comment);
		}
	}
	<div title="Reply" class="reply" onclick="WriteReply(@Model.CommentId)">
		<button type="button" id="myButton" class="btn btn-primary" autocomplete="off" onclick="WriteReply(@Model.CommentId)">
			Reply
		</button>
		<hr class="reply" onclick="WriteReply(@Model.CommentId)" />
	</div>
</div>
